<nav id="nav-bar">

  <div class="nav-wrapper">
    <%= link_to 'DA-TONG SOCIETY', root_path, id: 'title' %>
    <%= link_to 'University of California, Berkeley', "http://www.berkeley.edu/", id: 'sub-title' %>
    <div><a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a></div>
    
    <div class="nav-pages">
      <ul id="mobile-menu" class="side-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Events', events_path %></li>
        <li><%= link_to 'People', core_members_index_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to 'Resources', resources_path %></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <li><div class="navbar-non-link"><%=current_user.fname%></div></li>
            <image src=<%=current_user.img_url%> width="30", height="30"></image>
        <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

</nav>
