<h2>Edit Membership</h2>

<%= form_tag update_multiple_core_members_path, :method => :put do %>
<table id="core_members">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      Core Member
    </th>
    <th>
      Event Admin
    </th>
  </tr>
  </thead>
  <tbody>
  <% if @users.empty? %>
      <tr><td>It looks like there are no users yet!</td></tr>
  <% else %>
      <% @users.each do |user| %>
          <tr class="<%= 'admin_highlight' if user.is_account_admin %>">
            <td><%= user.fullname %></td>
            <td><%= user.email %></td>
            <td>
              <%= check_box_tag user.fname, user.id, user.is_core_member, name: "core_mem[]" %>
              <%= label_tag user.fname, "core" %>
            <td>
              <%= check_box_tag user.lname, user.id, user.is_event_admin, name: "event_ad[]" %>
              <%= label_tag user.lname, "event" %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<%= submit_tag 'Update', class: "btn waves-effect waves-light" %>
<%= link_to 'Cancel', core_members_index_path, class: "btn waves-light waves-effect", style:"margin-left:1em;" %>
<% end %>

<br>
<br>